@tailwind base;
@tailwind components;
@tailwind utilities;

.clip-path {
  clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
}

.circle {
  position: absolute;
  left: calc(50% - 25px);
  top: calc(50% - 25px);
  height: 50px;
  width: 50px;
  border: 2px dotted #000000;
  border-radius: 50%;
}

.circle:nth-child(1) {
  transform: translateX(110px);
}

.circle:nth-child(2) {
  transform: rotate(72deg) translateX(250px);
}

.circle:nth-child(3) {
  transform: rotate(144deg) translateX(250px);
}

.circle:nth-child(4) {
  transform: rotate(216deg) translateX(250px);
}

.circle:nth-child(5) {
  transform: rotate(288deg) translateX(250px);
}

.inner {
  transform: rotate(-72deg);
}

.battery-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8f9fa;
}

.battery-svg {
  width: 100px;
}

.battery-body {
  fill: #f0f0f0;
  stroke: #333;
  stroke-width: 2;
}

.battery-terminal {
  fill: #333;
}
